<section>
    <div class="board-container">        
        <div class="board">
            <div class="cell">
                <div class="value">2</div>
            </div>
            <div class="cell">
                <div class="value">2048</div>
            </div>
            <div class="cell">
                <div class="value">2</div>
            </div>
            <div class="cell">
                <div class="value">2</div>
            </div>
            <div class="cell">
                <div class="value">2</div>
            </div>
            <div class="cell">
                <div class="value">2</div>
            </div>
            <div class="cell">
                <div class="value">2</div>
            </div>
            <div class="cell">
                <div class="value">2</div>
            </div>
            <div class="cell">
                <div class="value">2</div>
            </div>
            <div class="cell">
                <div class="value">2</div>
            </div>
            <div class="cell">
                <div class="value">2</div>
            </div>
            <div class="cell">
                <div class="value">2</div>
            </div>
            <div class="cell">
                <div class="value">2</div>
            </div>
            <div class="cell">
                <div class="value">2</div>
            </div>
            <div class="cell">
                <div class="value">2</div>
            </div>
            <div class="cell">
                <div class="value">2</div>
            </div>
        </div>
    </div>
</section>